module.exports = {
	discord: {
		token: '',
		guild: '',
		client_id: '',
		logs_channel: '',
		admin_role: '',
		mod_role: '',
	},
	mariadb: {
		host: 'db',
		user: 'mariadb',
		password: 'mariadb',
		database: 'mariadb',
	},
	utilities: {
		promptfile: '',
	},
};